<div>
  <%- if controller_name != 'sessions' %>
    <%= link_to "Go to Log in", new_session_path(resource_name), class: "btn-s-light" %><br />
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Go to Sign up", new_registration_path(resource_name), class: "btn-s-light" %><br />
  <% end %>
</div>
