<h3>投稿フォーム</h3>

<input id="input_text", autofocus: true, placeholder="つぶやきを入力" /> <br />
<input id="input_image", type="file", accept=".jpg,.png,.JPEG,.PNG">
<button id="btn">つぶやく</button>

<br /><br />
<i class="fa-regular fa-image"></i>