
<div class="form">
  <div class="form__flame">
    <div class="form__tag", id="input-tag">
      <br />タグ<br />を選択
    </div>
    <div class="form__content">
      <input class="form__contentTextform", id="input-text", type="text", autofocus: true, placeholder="つぶやこう" />
      <input class="form__contentImageform", id="input-image", type="file", accept=".jpg,.png,.JPEG,.PNG">
      <div id="charCount" class="form__charCount">0/100 文字</div>
      <div class="form__btn">
        <button class="btn", id="btn">つぶやく</button>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="title">
    <div class="title__circle--h3"></div>
    <h3 class='title__text'>Tag List</h3>
  </div>
  <div class="tag-cagotery-list">
    <button class="category">feeling</button>
    <button class="category">food</button>
    <button class="category">hobby</button>
    <button class="category">animal</button>
    <button class="category">life</button>
    <button class="category">nature</button>
    <button class="category">other</button>
  </div>

  <!--posts_helperでsize:100x100に指定-->
  <div class="tag-list--active feeling"><% display_image_tags("feeling") %></div>
  <div class="tag-list--inactive food"><% display_image_tags("food") %></div>
  <div class="tag-list--inactive hobby"><% display_image_tags("hobby") %></div>
  <div class="tag-list--inactive animal"><% display_image_tags("animal") %></div>
  <div class="tag-list--inactive life"><% display_image_tags("life") %></div>
  <div class="tag-list--inactive nature"><% display_image_tags("nature") %></div>
  <div class="tag-list--inactive other"><% display_image_tags("other") %></div>
</div>

<%= javascript_pack_tag 'display-select-tag.js' %>
<%= javascript_pack_tag "post.js" %>
<%= javascript_pack_tag "char-counter.js" %>
<%= javascript_pack_tag 'notification-click.js' %>