<%= render 'public/posts/post_card', post: @post %>
<div class="title">
  <div class="title__circle--h2"></div>
  <h2 class='title__text'>Comment</h2>
</div>
<% @comments.each do |comment| %>
  <%= render 'public/posts/comment_card', { post: @post, comment: comment} %>
<% end %>

<%= paginate @comments %>

<%= javascript_pack_tag 'notification-click.js' %>