@import '../contents/logo';

.about{
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__sublogo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--color-light-blue);
  }

  &__logo{
    @extend .logo;
    margin: 0 auto;
    font-size: 50px;
    padding-bottom: 20px;

    &--Accent {
      font-size: 54px;
      color: var(--color-light-blue);
    }
  }

  &__btn-list{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    gap: 15px;
    text-align: center;

    @media screen and (max-width: 500px) {
      /* btnリスト幅時点で切り替え */
      flex-direction: column;
      gap: 0px;
    }

  }

  &__content{
    display: flex;
    flex-direction: row;
    margin: 50px 0;
  }

  &__circle1{
    min-width: 100px;
    max-height: 90px;
    margin-top: 10px;
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    border-radius: 32% 68% 68% 32% / 74% 49% 51% 26%;

    @media screen and (max-width: 480px) {
      /* 480px以下に適用されるCSS（スマホ用） */
      display: none;
    }
  }

  &__kokotto{
    color: var(--color-black);
    margin-left: 10px;

    &Subtitle{
      font-size: 26px;
    }
  }

  &__images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .item-image-list{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-right: 5px;
    max-width: 150px;
  }

  .item-image1{
    border: none;
    border-radius: 50%;

    &:nth-child(1){
      width: 100px;
    }
    &:nth-child(2){
      width: 140px;
      margin-left: 20px;
    }
    &:nth-child(3){
      width: 120px;
    }
  }

  .item-image2{
    border: none;
    border-radius: 50%;

    &:nth-child(1){
      margin-left: 40px;
      width: 80px;
    }
    &:nth-child(2){
      width: 60px;
      margin-left: 20px;
    }
    &:nth-child(3){
      margin-left: 30px;
      width: 120px;
    }
    &:nth-child(4){
      margin-left: 20px;
      width: 90px;
    }
  }

  .girl-img{
    display: inline-box;
    width: 40%;
    text-align: center;
    height: auto;
    margin: auto 0;
  }


  &__circle2{
    min-width: 100px;
    max-height: 90px;
    margin-top: 10px;
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    border-radius: 66% 34% 45% 55% / 42% 41% 59% 58% ;

    @media screen and (max-width: 480px) {
      /* 480px以下に適用されるCSS（スマホ用） */
      display: none;
    }
  }

  &__security{
    color: var(--color-black);
    margin-right: 10px;
    text-align: right;

    &Subtitle{
      font-size: 26px;
    }
  }

}