table {
  margin: 10px;
}

th, td {
  text-align: start;
  max-width: 100px;
  width: auto;
  overflow-wrap: break-word;
  overflow: auto;
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .table-optional-m {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（携帯用） */
  .table-optional-s {
    display: none;
  }
}

.admin{
  &__user-link{
    font-size: 15px;
    color: var(--color-orange-purple);
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: var(--color-orange-purple);
  }

  &__user-headline{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  &__icon{
    color: var(--color-blue);
  }

  &__editbtn-list{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
  }
}

.active-user{
  display: inline-block;
  padding: 0 20px;
  margin: 5px 0 5px 0;
  height: 22px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid var(--color-blue-purple);
  background-color: var(--color-white);
  color: var(--color-purple);
}

.invalid-user{
  display: inline-block;
  padding: 0 20px;
  margin: 5px 0 5px 0;
  height: 22px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid var(--color-light-blue);
  background-color: var(--color-white);
  color: var(--color-light-blue);
}