@import '/foundation/typography';
@import '/foundation/variable';

.notification-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 17px;

  &--alert {
    background-color: red;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
