.tag-list {
  display: inline-flex;
  padding: 10px 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  &--inactive{
    @extend .tag-list;
    display: none;
  }

  &--active{
    @extend .tag-list;
  }
}
