.contents {
  display: flex;
  flex-grow: 1;
  padding-block-start: 20px;

  @media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
    /* メニューバーの位置調整 */
    flex-direction: column;
  }

}
