@import '/foundation/typography';

.footer {
  position: relative;
  svg {
    width: 100%;
    height: 200px;
  }

  &__text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--color-white);
  }
}