@import '/foundation/typography';

.footer {
  position: relative;

  &_wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1400px;
    height: 80px;
    background-image: var(--color-graduation);
  }

  // @media screen and (max-width: 959px) {
  //   padding: 10px 6% 24px;
  // }

  // &__Bottom {
  //   display: flex;
  //   justify-content: space-between;
  //   font-size: 12px;
  // }
}
