@import '../foundation/typography';
@import '../foundation/variable';

.header {
  z-index: $z-index-layer2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;

  &__Nav{
    margin-left: 10px;

    &List {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
      list-style: none;

      &Item {
        letter-spacing: 0.05em;

        &Link {
          @include paragraph3;
          color: var(--color-blue);
          display: flex;
          gap: 6px;
          align-items: center;
        }
      }
    }
  }
}