@import '../foundation/typography';
@import '../foundation/variable';

.header {
  &__Nav--s {
    margin-left: 10px;
  }

  &__NavList--s {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    list-style: none;
  }

  &__NavListItem--s {
    letter-spacing: 0.05em;
  }

  &__NavListItemLink--s {
    @include paragraph3;
    color: var(--color-blue);
    display: flex;
    gap: 6px;
    align-items: center;
  }

  &__Hamburger {
    position: absolute;
    z-index: -1000;

    @media screen and (max-width: 959px) {
      /* 959px以下に適用されるCSS（タブレット、スマホ用） */
      position: absolute;
      top: 22px;
      right: 2%;
      height: 27px;
      width: 35px;
      cursor: pointer;
      z-index: 100;
      transition: opacity .25s var(--ease-in-out);

      &:hover {
        opacity: 0.7;
      }

      &.active {
        .top {
          transform: translateY(11px) translateX(0) rotate(45deg);
          background: var(--color-white);
        }
        .middle {
          opacity: 0;
          background: var(--color-white);
        }

        .bottom {
          transform: translateY(-11px) translateX(0) rotate(-45deg);
          background: var(--color-white);
        }
      }

      span {
      background: var(--color-blue);
      border: none;
      border-radius: 30px;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition:  all .50s var(--ease-in-out);
      cursor: pointer;

        &:nth-of-type(2) {
          top: 11px;
        }

        &:nth-of-type(3) {
          top: 22px;
        }
      }
    }
  }

  @media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット、スマホ用） */
    &__Nav--s {
      background-color: var(--color-blue);
      position: absolute;
      top: -300px;
      right: 0px;
      opacity: 0;
      visibility: hidden;
      transition: all .35s;
      overflow: hidden;

      &.open {
        opacity: 0.7;
        visibility: visible;
        top: 0px;
      }

    }
    &__NavList--s{
      flex-direction: column;
      margin-top: 60px;
      padding: 20px 30px;
      gap: 30px;
    }
    &__NavListItem--s {
      font-size: 20px;
      line-height: 1;
      visibility: hidden;

      .open & {
        animation: fadeInRight .3s var(--ease-in-out) forwards;

        &:nth-of-type(1) {
          animation-delay: .28s;
        }
        &:nth-of-type(2) {
          animation-delay: .26s;
        }
        &:nth-of-type(3) {
          animation-delay: .23s;
        }
        &:nth-of-type(4) {
          animation-delay: .20s;
        }
      }
    }
    &__NavListItemLink--s {
      align-items: flex-end;
      color: var(--color-white);
    }
  }
}

@keyframes fadeInRight {
  0% {
    visibility: hidden;
    transform: translateY(50%);
  }
  100% {
    visibility: visible;
    transform: translateY(0%);
  }
}