@import '../foundation/typography';
@import '../foundation/variable';

.header {
  z-index: $z-index-layer2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 5px;

  @media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
    &__headerNavList{
      gap: 10px;

      &Item {
        font-size: 20px;
        line-height: 1;

        a {
          align-items: flex-end;
        }

        p {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    &__headerNavList{
      gap: 10px;

      &Item {
        font-size: 20px;
        line-height: 1;

        a {
          align-items: flex-end;
        }

        p {
          display: none;
        }
      }
    }
  }

  &__Nav {
     margin-left: auto;

    &List {
      display: flex;
      gap: 20px;
      align-items: center;
      list-style: none;

      &Item {
        letter-spacing: 0.05em;

        a {
          @include paragraph3;
          display: flex;
          gap: 6px;
          align-items: center;
        }
      }
    }
  }
}
