@import '../foundation/variable';

.menu{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;

  @media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット&携帯用） */
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-right: 0;
  }
}