<div class="Notfound">
  <h1>500 Not Found</h1>
  <h2>サーバーでエラーが発生したため、リクエストを完了できませんでした</h2>

  <div class="Notfound__content">
    <div class="Notfound__balloon">
      <div class="Notfound__balloonText">・・・</div>
      <%= image_tag "404/fukidashi", class: "Notfound__balloonImg" %>
    </div>
    <%= image_tag "404/pc-neko", class: "Notfound__nekoImg" %>
  </div>
</div>