<div class="loading">
  <h2 class="loading__text">
    <span class="char">N</span>
    <span class="char">o</span>
    <span class="char">w</span>
    <span class="char"> </span>
    <span class="char">L</span>
    <span class="char">o</span>
    <span class="char">a</span>
    <span class="char">d</span>
    <span class="char">i</span>
    <span class="char">n</span>
    <span class="char">g</span>
  </h2>
  <%= image_tag "loading/loading#{rand(1..13)}", class: "loading__image" %>
</div>