<div class="menu">
  <div class="menu__list">
    <%= link_to posts_path(current_user), class: "menu__icon" do %>
      <i class="fa-solid fa-house-chimney"></i>
    <% end %>

    <%= link_to liked_posts_path(current_user), class: "menu__icon" do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>

    <%= link_to mypage_path, class: "menu__icon" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>

    <%= link_to new_post_path, class: 'menu__icon' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>