<menu class="menu">
  <%= link_to posts_path(current_user) do %>
    <button class="menu__item active">
        <div class="menu__icon" >
          <i class="fa-solid fa-house-chimney"></i>
        </div>
        <strong class="menu__text active">Home</strong>
    </button>
  <% end %>

  <%= link_to liked_posts_path(current_user) do %>
    <button class="menu__item active">
        <div class="menu__icon" >
          <i class="fa-solid fa-heart"></i>
        </div>
        <strong class="menu__text active">Lile</strong>
    </button>
  <% end %>

  <%= link_to mypage_path do %>
    <button class="menu__item active">
        <div class="menu__icon" >
          <i class="fa-solid fa-user"></i>
        </div>
        <strong class="menu__text active">Mypage</strong>
    </button>
  <% end %>
</menu>