.btn{
  display: inline-block;
  padding: 6px 20px;
  font-weight: 600;
  color: var(--color-purple);
  border: 1px solid var(--color-blue-purple);
  border-radius: 30px;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &-s-light{
    @extend .btn;
    padding: 0 20px;
    height: 22px;
    background-color: var(--color-white);
    color: var(--color-purple);
  }

  &-s-dark{
    @extend .btn;
    padding: 0 20px;
    height: 22px;
    background-color: var(--color-orange-purple);
    color: var(--color-white);
  }

}
