.btn{
  display: inline-block;
  padding: 6px 20px;
  margin: 5px 0 5px 0;
  font-weight: 600;
  color: var(--color-purple);
  border: 1px solid var(--color-blue-purple);
  border-radius: 30px;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &-about{
    @extend .btn;
    border: none;
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    color: var(--color-white);
  }

  &-s-light{
    @extend .btn;
    padding: 0 20px;
    height: 22px;
    background-color: var(--color-white);
    color: var(--color-purple);
  }

  &-s-dark{
    @extend .btn;
    padding: 0 20px;
    height: 22px;
    background-color: var(--color-orange-purple);
    color: var(--color-white);
  }

  &-s-danger{
    @extend .btn;
    padding: 0 13px;
    height: 22px;
    border: none;
    background-color: var(--color-red);
    opacity: 0.7;
    color: var(--color-white);
  }

  &-s-notice{
    @extend .btn;
    padding: 0 13px;
    height: 22px;
    border: none;
    background-color: var(--color-light-blue);
    opacity: 0.7;
    color: var(--color-white);
  }
}
