@import '/foundation/typography';
@import '/foundation/variable';

.flash {
  z-index: $z-index-layer2;
  display: flex;

  &-message {
    background-color: rgba(#CEA0C1, 0.4);
    padding: 5px 10px;
    @include paragraph3;
  }
}
