.logo {
  font-family: var(--font-logo);
  font-size: 40px;
  font-weight: 200;
  white-space: nowrap;

  &--Accent {
    font-size: 42px;
    color: var(--color-light-blue);
  }

  &--Small {
    font-family: var(--font-logo);
    font-size: 28px;
    font-weight: 400;

    .logoAccent {
      font-family: var(--font-logo);
      font-size: 30px;
      font-weight: 400;
      color: var(--color-light-blue);
    }
  }
}
