@import '../../foundation/typography';
@import '../../foundation/variable';

.card {
  max-width: 100%;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 10px;
  box-shadow: none;
  transition: box-shadow 0.3s var(--ease-out-quad);

  &:hover {
    box-shadow: 0 4px 8px rgba(#CEA0C1, 0.5);
    opacity: 1;
  }

  &__flame{
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  &__tag {
    display: flex;
    align-items: start;
    width: 30%;
    height: auto;

    &Img {
      margin: 0 auto;
      opacity: 0.8;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    max-width: 70%;

    &Text{
      display: flex;
      word-wrap: break-all;
      ccolor: var(--color-light-blue);
      font-size: 18px;
    }

    &Image{
      margin-top: 10px;
      display: flex;
      margin: 0 auto;
      width: 100% ;
      height: auto;
    }
  }

  &__summary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    margin-top: 10px;

    &Item {
      color: var(--color-light-blue);
      font-size: 16px;
      margin-right: 30px;

      a{
        color: var(--color-light-blue);
      }
    }
  }
}