.form{
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 10px;
  transition: filter 0.3s var(--ease-out-quad);
  display: flex;
  flex-direction: column;
  filter: drop-shadow(6px 8px 6px rgba(#CEA0C1 , 0.4));

  &__flame{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__tag {
    color: var(--color-purple);
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    max-width: 100px;
    width: 30%;
    height: auto;
  }

  &__content{
    display: flex;
    flex-direction: column;
    max-width: 70%;

    &--comment{
      display: flex;
      flex-direction: column;
      max-width: 90%;
    }

    &Textform{
      display: flex;
      word-wrap: break-all;
      max-width: 100%;
      width: 500px;
      height: 100px;
    }

    &Imageform{
      color: car(--color-black);
      margin-top: 10px;
      display: flex;
      max-width: 100%;
    }
  }
}


