.tag {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  background-color: var(--color-white);
  border: 3px solid var(--color-puple);
  border-radius: 8px;
  box-shadow: none;
  justify-content: center;
  transition: box-shadow 0.3s var(--ease-out-quad);

  &:hover {
    box-shadow: 0 4px 8px rgba(#CEA0C1, 0.5);
    opacity: 1;
  }
}
